@font-face {
  font-family: "iconfont"; /* Project id 4357426 */
  src: url('iconfont.woff2?t=1701668044298') format('woff2'),
       url('iconfont.woff?t=1701668044298') format('woff'),
       url('iconfont.ttf?t=1701668044298') format('truetype'),
       url('iconfont.svg?t=1701668044298#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongyingwenyingwen:before {
  content: "\e681";
}

.icon-dark-full:before {
  content: "\e997";
}

.icon-light-full:before {
  content: "\e999";
}

